* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  display: flex;
}

#main {
  width: 100%;
}

#header {
  width: 100%;
  height: 80px;
  background-color: darkblue;
}

#sidebar {
  width: 30%;
  height: 630px;
  background-color: brown;
}

#content {
  width: 100%;
  height: 400px;
  background-color: chocolate;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: chartreuse;
}