* {
  margin: 0;
  box-sizing: border-box;
}

#page {
  display: flex;
}

#sidebar {
  width: 20%;
  height: 700px;
  background-color: #fca311;
}

#main {
  width: 80%;
}

#header {
  height: 100px;
  background-color: #14213d;
}

#content {
  height: 400px;
  background-color: #dddddd;
}

#footer {
  height: 200px;
  background-color: black;
}