<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout com divs</title>
  <link rel="stylesheet" href="css/style5.css">
</head>

<body>
  <div id="header"></div>

  <div class="hero">
    <div class="retanD"></div>
    <div class="retanD"></div>
  </div>

  <div class="secao">
    <div class="quad"></div>
    <div class="quad"></div>
    <div class="quad"></div>
  </div>

  <div class="secao">
    <div class="quad"></div>
    <div class="retanD"></div>
    <div class="retanD"></div>
  </div>

  <div class="secao">
    <div class="retanD">
      <div class="bola"></div>
      <div class="quad"></div>
    </div>

    <div class="retanD">
      <div class="bola"></div>
      <div class="quad"></div>
    </div>
  </div>

  <div class="secao">
    <div class="retanD"></div>
    <div class="retanD"></div>
    
    <div class="2quad">
      <div class="quad"></div>
      <div class="quad"></div>
    </div>
  </div>

  <div id="footer"></div>
</body>

</html>