<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout com divs</title>
  <link rel="stylesheet" href="css/style5.css">
</head>

<body>
  <div id="header">
    <div class="bola"></div>
  </div>

  <div class="secao" style="flex-direction: column; justify-content: center;">
    <div class="forma retanG"></div>
    <div class="forma retanP"></div>
  </div>

  <div class="secao" style="background-color: #ecf39e;">
    <div class="forma quadG"></div>
    <div class="forma quadG"></div>
    <div class="forma quadG"></div>
  </div>

  <div class="secao">
    <div class="forma quadG"></div>
    <div class="block">
      <div class="forma retanG"></div>
      <div class="forma retanP"></div>
    </div>
  </div>

  <div class="secao" style="background-color: #ecf39e;">
    <div class="forma retanG">
      <div class="bola"></div>
      <div class="forma retanP"></div>
    </div>

    <div class="forma retanG">
      <div class="bola"></div>
      <div class="forma retanP"></div>
    </div>
  </div>

  <div class="secao">
    <div class="forma retanG" style="width: 160px; height: 260px;"></div>
    <div class="forma retanG" style="width: 160px; height: 260px;"></div>

    <div class="block" style="height: 280px; justify-content: space-between;">
      <div class="forma retanP" style="height: 80px;"></div>
      <div class="forma retanP" style="height: 80px;"></div>
    </div>
  </div>

  <div id="footer"></div>
</body>

</html>