* {
  margin: auto;
  box-sizing: border-box;
}

#header {
  height: 100px;
  background-color: #14213d;
}

#main {
  display: flex;
}

#sidebar-left, #sidebar-right {
  width: 20%;
  height: 600px;
  background-color: #fca311;
}

#content {
  width: 60%;
  height: 600px;
  background-color: #dddddd;
}

#footer {
  height: 200px;
  background-color: black;
}